@charset "UTF-8";

// px转rem
@function pxrem($px, $base-font-size: 37.5px) {
	@if (unitless($px)) { 
		@warn "Assuming #{$px} to be in pixels, attempting to convert it into pixels for you"; 
		@return pxrem($px + 0px);
	} @else if (unit($px) == rem) { 
		@return $px; 
	} 
	@return ($px / $base-font-size) * 1rem; 
}

// 根基dpr计算字体大小
@mixin font-dpr($font-size) {
	font-size: $font-size; 

	[data-dpr="2"] & { 
		font-size: $font-size * 2; 
	} 

	[data-dpr="3"] & { 
		font-size: $font-size * 3; 
	} 
}

$bg_color: #F0F0F0;      //背景色
$label_color: #999999;   //标签色
$theme_color: #FD7A60;   //主题色
$padding_top: 44px;


html, body {
	background-color: $bg_color;
	font-family: PingFangSC-Medium;
}

.margin_num {
	height: 9px;
}

.weui-cells, .weui-panel {
	margin: 0;
}

.top_fixed {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 66;
}
.top_box {
	text-align: center;
	color: #fff;
	background-image: linear-gradient(-179deg, #2E2E30 0%, #59595D 100%);
	height: 44px;
	line-height: 44px;
	font-size: 18px;
	& a {
		position: absolute;
		left: 15px;
		top: 10px;
		width: 24px;
		height: 24px;
		background: url("../images/back.png") no-repeat center;
		background-size: contain;
	}
}

.container {
	padding-top: $padding_top;
}


/* 课程详情 */
.course_detail {
	& .binner {
		width: 100%;
		height: 188px;
		overflow: hidden;
		& img {
			width: 100%;
		}
	}
	& .info {
		font-family: PingFangSC-Regular;
		font-size: 16px;
		color: #303030;
		letter-spacing: 0.45px;
		background-color: #fff;
		& .weui-cells:before, & .weui-cells:after {
			border: 0;
		}
		& .weui-flex__item {
			padding: 13px 15px 0;
		}
		& .weui-cell {
			padding: 15px;
			line-height: 25px;
			& img {
				width: 25px;
				height: 25px;
				border-radius: 50%;
				margin-right: 7px;
			}
			& .name {
				font-size: 13px;
				color: #303030;
			}
			& .weui-cell__ft {
				font-size: 12px;
				color: #999999;
				letter-spacing: 0.38px;
				& .periods {
					padding-right: 10px;
					border-right: 1px solid #999999;
				}
				& .human_qi {
					padding-left: 8px;
				}
			}
		}
	}
	& .course_introduce {
		padding: 15px;
		background-color: #fff;
	}
	& .column_link {
		font-family: PingFangSC-Medium;
		& img {
			width: 2px;
			height: 15px;
			margin-right: 7px;
		}
		& .column_name {
			font-size: 14px;
			color: #696969;
		}
	}
	& .lecturer_list {
		& .weui-panel__hd {
			padding: 12px 15px 12px 24px;
			font-size: 14px;
			color: #696969;
			background: url('../images/detail-classify.png') no-repeat 15px center;
			background-size: 2px 15px;
		}
		& .weui-media-box_appmsg {
			-webkit-align-items: flex-start;
			align-items: flex-start;
		}
		& .weui-media-box__hd {
			width: 45px;
			height: 45px;
			margin-right: 9px;
			border-radius: 50%;
			overflow: hidden;
		}
		& .weui-media-box__title {
			padding-bottom: 4px;
			font-size: 15px;
			color: #303030;
			& .label {
				padding-left: 5px;
				font-size: 12px;
				color: $theme_color;
			}
		}
		& .weui-media-box__desc {
			font-size: 12px;
			color: $label_color;
			line-height: 18px;
		}
	}
	& .lecturer_info {
		& .weui-cell {
			padding: 15px;
			line-height: 25px;
			& img {
				width: 25px;
				height: 25px;
				border-radius: 50%;
				margin-right: 7px;
			}
			& .name {
				font-size: 13px;
				color: #303030;
			}
			& a.follow_btn {
				display: block;
				line-height: 23px;
				font-size: 12px;
				color: $theme_color;
				letter-spacing: 0.36px;
				border: 1px solid $theme_color;
				border-radius: 4px;
				padding: 0 12px;
			}
			& a.is_follow {
				color: $label_color;
				border-color: $label_color;
			}
		}
	}
	& .lecturer_data {
		padding: 10px 15px;
		text-align: center;
		background-color: #fff;
		font-family: PingFangSC-Regular;
		position: relative;
		& .label {
			font-size: 12px;
			color: $label_color;
		}
		& .data {
			font-size: 17px;
			color: #666666;
			letter-spacing: 0.66px;
			overflow: hidden;
		}
		& img {
			display: block;
			margin: 5px auto;
			width: 22px;
		}
	}
}