@charset "UTF-8";

// px转rem
@function pxrem($px, $base-font-size: 40px) {
	@if (unitless($px)) { 
		@warn "Assuming #{$px} to be in pixels, attempting to convert it into pixels for you"; 
		@return pxrem($px + 0px);
	} @else if (unit($px) == rem) { 
		@return $px; 
	} 
	@return ($px / $base-font-size) * 1rem; 
}

// 根基dpr计算字体大小
@mixin font-dpr($font-size) {
	font-size: $font-size; 

	[data-dpr="2"] & { 
		font-size: $font-size * 2; 
	} 

	[data-dpr="3"] & { 
		font-size: $font-size * 3; 
	} 
}

$bg_color: #F0F0F0;          //背景色
$label_color: #919191;       //标签色
$main_title: #303030;        //主标题
$title_color: #696969;       //标题色
$theme_color: #FD7A60;       //主题色
$theme_font_color: #FF5A1C;  //主题文字颜色
$padding_top: 44px;


html, body {
	background-color: $bg_color;
	font-family: PingFangSC-Medium;
}
.transition {
	transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
}

/* 改变自带的样式 */
.margin_num {
	height: 9px;
	background-color: $bg_color;
}
.weui-cells, .weui-panel {
	margin: 0;
}
.weui-popup__container, .weui-popup__overlay {
	z-index: 100;
}
.weui-cells_radio .weui-check:checked+.weui-icon-checked:before {
	color: $theme_color;
}
.weui-switch-cp__input:checked~.weui-switch-cp__box, .weui-switch:checked {
	border-color: $theme_color;
	background-color: $theme_color;
}
.weui-dialog__btn {
	color: $theme_color;
}
.weui-actionsheet__title {
	height: 40px;
	font-size: 14px;
	color: $title_color;
	background-color: $bg_color;
}
.react_style {
	font-size: 16px;
	color: $title_color;
	padding: 12px 0;
}


.top_fixed {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 66;
}
.top_box {
	text-align: center;
	color: #fff;
	// background-image: linear-gradient(-179deg, #2E2E30 0%, #59595D 100%);
	// background-image: linear-gradient(0deg, rgba(255,255,255,0.00) 0%, rgba(0,0,0,0.3) 98%);
	background: rgba(255, 255, 255, 0);
	transition: all 0.3s;
	height: 44px;
	line-height: 44px;
	font-size: 18px;
	& a {
		position: absolute;
		top: 10px;
		width: 24px;
		height: 24px;
		& img {
			width: 100%;
		}
	}
	& a.back {
		left: 15px;
		background: url("../images/back.png") no-repeat center;
		background-size: contain;
	}
	& a.share {
		right: 15px;
		background: url('../images/icon_frequency_share@2x.png') no-repeat center;
		background-size: contain;
	}
	& #tutorName {
		color: $main_title;
	}
}
.opacity_active {
	background: rgba(255, 255, 255, 1);
}
/* 头部tab切换 */
.top_tab {
	height: 44px;
	position: relative;
	background-color: #fff;
	line-height: 44px;
	text-align: center;
	font-family: PingFangSC-Regular;
	font-size: 15px;
	color: $title_color;
	& .active_tab {
		color: $theme_font_color;
	}
	& .line_box {
		width: 100%;
		height: 2px;
		position: absolute;
		left: 0;
		bottom: 0;
		& .line {
			width: 9.3%;
			height: 100%;
			border-radius: 5px;
			background-color: $theme_font_color;
			position: absolute;
			left: 12%;
		}
	}
}
.foot_fixed {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	z-index: 66;
	font-family: PingFangSC-Regular;
	font-size: 0;
	&>div {
		& a {
			display: block;
			text-align: center;
			height: 50px;
			line-height: 50px;
			background-color: $theme_color;
			font-size: 18px;
			color: #FFFFFF;
			letter-spacing: 1px;
		}
	}
	& .audio_list_btns {
		& a {
			float: left;
		}
		& a:first-child {
			width: 30%;
			color: #FD7A60;
			background: #FFF4F1;
		}
		& a:last-child {
			width: 70%;
		}
	}
	& a.download {
		background: #EBEBEB;
		font-size: 16px;
		color: $title_color;
		letter-spacing: 0.5px;
		& span {
			padding: 5px 0 5px 27px;
			background: url('../images/icon_batch_download@2x.png') no-repeat left center;
			background-size: 20px auto;
		}
	}
	& a.weui-flex__item {
		display: inline-block;
		font-size: 16px;
		letter-spacing: 0.5px;
		height: 50px;
		line-height: 50px;
		text-align: center;
	}
	& a.add_follow {
		width: 26%;
		background-color: #fff;
		color: $theme_font_color;
	}
	& a.is_follow {
		color: $label_color;
	}
	& a.place_order {
		width: 36%;
		background: #EBEBEB;
		color: $title_color;
	}
	& a.talk_privately {
		width: 38%;
		background: $theme_color;
		font-size: 18px;
		color: #FFFFFF;
		letter-spacing: 0.6px;
	}
}

.container {
	// padding-top: $padding_top;
	&>.binner {
		width: 100%;
		height: pxrem(396);
		overflow: hidden;
		& img {
			width: 100%;
		}
	}
}

/* 开关 */
.switch {
	display: block;
}

/* 课程详情 */
.course_detail {
	& .info {
		font-family: PingFangSC-Regular;
		font-size: 16px;
		color: $main_title;
		letter-spacing: 0.45px;
		background-color: #fff;
		& .weui-cells:before, & .weui-cells:after {
			border: 0;
		}
		& .weui-flex__item {
			padding: 13px 15px 0;
		}
		& .weui-cell {
			padding: 15px;
			line-height: 25px;
			& img {
				width: 25px;
				height: 25px;
				border-radius: 50%;
				margin-right: 7px;
			}
			& .name {
				font-size: 13px;
				color: $main_title;
			}
			& .weui-cell__ft {
				font-size: 12px;
				color: $label_color;
				letter-spacing: 0.38px;
				& .periods {
					padding-right: 10px;
					border-right: 1px solid $label_color;
				}
				& .human_qi {
					padding-left: 8px;
				}
			}
		}
	}
	& .course_introduce {
		padding: 0 15px;
		background-color: #fff;
		& .title {
			height: 26px;
			line-height: 26px;
			font-family: PingFangSC-Medium;
			font-size: 12px;
			color: $theme_color;
			letter-spacing: 0;
			& span {
				padding: 5px 10px;
				background-color: #FFDBD1;
				border-bottom-left-radius: 8px;
				border-bottom-right-radius: 8px;
			}
		}
		& .main_content {
			padding: 10px 0;
			font-family: PingFangSC-Medium;
			font-size: 14px;
			color: $title_color;
			letter-spacing: 0.46px;
			line-height: 22px;
		}
	}
	& .column_link {
		font-family: PingFangSC-Medium;
		& img {
			width: 2px;
			height: 15px;
			margin-right: 7px;
		}
		& .column_name {
			font-size: 14px;
			color: $title_color;
		}
	}
	& .lecturer_list {
		& .weui-panel__hd {
			padding: 12px 15px 12px 24px;
			font-size: 14px;
			color: $title_color;
			background: url('../images/detail-classify.png') no-repeat 15px center;
			background-size: 2px 15px;
		}
		& .weui-media-box_appmsg {
			-webkit-align-items: flex-start;
			align-items: flex-start;
		}
		& .weui-media-box__hd {
			width: 45px;
			height: 45px;
			margin-right: 9px;
			border-radius: 50%;
			overflow: hidden;
		}
		& .weui-media-box__title {
			padding-bottom: 4px;
			font-size: 15px;
			color: $main_title;
			& .label {
				padding-left: 5px;
				font-size: 12px;
				color: $theme_color;
			}
		}
		& .weui-media-box__desc {
			font-size: 12px;
			color: $label_color;
			line-height: 18px;
		}
	}
	& .lecturer_info {
		& .weui-cell {
			padding: 15px;
			line-height: 25px;
			& img {
				width: 25px;
				height: 25px;
				border-radius: 50%;
				margin-right: 7px;
			}
			& .name {
				font-size: 13px;
				color: $main_title;
			}
			& a.follow_btn {
				display: block;
				line-height: 23px;
				font-size: 12px;
				color: $theme_color;
				letter-spacing: 0.36px;
				border: 1px solid $theme_color;
				border-radius: 4px;
				padding: 0 12px;
			}
			& a.is_follow {
				color: $label_color;
				border-color: $label_color;
			}
		}
	}
	& .lecturer_data {
		padding: 10px 15px;
		text-align: center;
		background-color: #fff;
		font-family: PingFangSC-Regular;
		position: relative;
		& .label {
			font-size: 12px;
			color: $label_color;
		}
		& .data {
			font-size: 17px;
			color: #666666;
			letter-spacing: 0.66px;
			overflow: hidden;
		}
		& img {
			display: block;
			margin: 5px auto;
			width: 22px;
		}
		& .line {
			width: 1px;
			height: 18px;
			background-color: #BDBDBD;
			position: absolute;
			left: 34%;
			top: 50%;
			margin-top: -9px;
		}
		& .two_line {
			left: 65%;
		}
	}
	& .lecture_instruction {
		font-family: PingFangSC-Medium;
		& img {
			width: 2px;
			height: 15px;
			margin-right: 7px;
		}
		& .column_name {
			font-size: 14px;
			color: $title_color;
		}
		& .instruction_detail {
			padding: 5px 15px 10px;
			font-size: 14px;
			color: $label_color;
			line-height: 20px;
		}
		& .weui-cell__ft {
			display: none;
		}
		& .weui-cell__ft:after {
			border-width: 0 2px 2px 0;
		}
	}
}


// 支付弹窗
#payment {
	& p.wx {
		padding-left: 37px;
		background: url('../images/icon_wechat.png') no-repeat left center;
		background-size: 27px auto;
	}
	& p.zfb {
		padding-left: 37px;
		background: url('../images/icon_alipay.png') no-repeat left center;
		background-size: 27px auto;
	}
	& p.balance {
		padding-left: 37px;
		background: url('../images/icon_-balance.png') no-repeat left center;
		background-size: 27px auto;
	}
	& .payment_link {
		& .weui-cell {
			padding: 0 0 0 15px;
			height: 50px;
			font-family: PingFangSC-Medium;
			font-size: 14px;
			color: #666666;
			letter-spacing: 0.5px;
		}
		& .total {
			margin-left: 3px;
			font-size: 18px;
			color: $theme_color;
			letter-spacing: 0.7px;
		}
		& a {
			display: block;
			padding: 0 32px;
			height: 50px;
			line-height: 50px;
			background: $theme_color;
			font-size: 18px;
			color: #FFFFFF;
			letter-spacing: 0.7px;
		}
	}
}


/* 专栏详情 */
.column_detail {
	& .info {
		font-family: PingFangSC-Regular;
		font-size: 16px;
		color: $main_title;
		letter-spacing: 0.45px;
		background-color: #fff;
		& .weui-cells:before, & .weui-cells:after {
			border: 0;
		}
		& .weui-flex__item {
			padding: 13px 15px 0;
		}
		& .weui-cell {
			padding: 15px;
			line-height: 25px;
			& .name {
				font-size: 12px;
				color: $label_color;
				letter-spacing: 0.38px;
				& .periods {
					padding-right: 10px;
					border-right: 1px solid $label_color;
				}
				& .human_qi {
					padding-left: 7px;
				}
			}
			& .price {
				font-size: 18px;
				color: $theme_color;
			}
		}
	}
	& .lecturer_info {
		& .weui-cell {
			padding: 15px;
			line-height: 25px;
			& img {
				width: 25px;
				height: 25px;
				border-radius: 50%;
				margin-right: 7px;
			}
			& .name {
				font-size: 13px;
				color: $main_title;
			}
			& a.follow_btn {
				display: block;
				line-height: 23px;
				font-size: 12px;
				color: $theme_color;
				letter-spacing: 0.36px;
				border: 1px solid $theme_color;
				border-radius: 4px;
				padding: 0 12px;
			}
			& a.is_follow {
				color: $label_color;
				border-color: $label_color;
			}
		}
	}
	& .lecturer_data {
		padding: 10px 15px;
		text-align: center;
		background-color: #fff;
		font-family: PingFangSC-Regular;
		position: relative;
		& .label {
			font-size: 12px;
			color: $label_color;
		}
		& .data {
			font-size: 17px;
			color: #666666;
			letter-spacing: 0.66px;
			overflow: hidden;
		}
		& img {
			display: block;
			margin: 5px auto;
			width: 22px;
		}
		& .line {
			width: 1px;
			height: 18px;
			background-color: #BDBDBD;
			position: absolute;
			left: 34%;
			top: 50%;
			margin-top: -9px;
		}
		& .two_line {
			left: 65%;
		}
	}
	& .course_introduce {
		padding: 0 15px;
		background-color: #fff;
		& .title {
			height: 26px;
			line-height: 26px;
			font-family: PingFangSC-Medium;
			font-size: 12px;
			color: $theme_color;
			letter-spacing: 0;
			& span {
				padding: 5px 10px;
				background-color: #FFDBD1;
				border-bottom-left-radius: 8px;
				border-bottom-right-radius: 8px;
			}
		}
		& .main_content {
			padding: 10px 0;
			font-family: PingFangSC-Medium;
			font-size: 14px;
			color: $title_color;
			letter-spacing: 0.46px;
			line-height: 22px;
		}
	}
	& .column_cont {
		background-color: #fff;
		&>.title {
			padding: 0 15px;
			height: 26px;
			line-height: 26px;
			font-family: PingFangSC-Medium;
			font-size: 12px;
			color: $theme_color;
			letter-spacing: 0;
			& span {
				padding: 5px 10px;
				background-color: #FFDBD1;
				border-bottom-left-radius: 8px;
				border-bottom-right-radius: 8px;
			}
		}
		& .weui-cells:before {
			border: 0;
		}
		& .column_list {
			& a {
				-webkit-align-items: flex-start;
				align-items: flex-start;
				font-family: PingFangSC-Medium;
				& .title {
					font-size: 14px;
					color: $main_title;
					line-height: 25px;
				}
				& .human_qi {
					font-size: 12px;
					color: $title_color;
				}
				& .time {
					font-size: 12px;
					color: $title_color;
				}
				& .weui-cell__ft {
					padding-right: 0;
				}
				& .weui-cell__ft:after {
					border-style: none;
				}
			}
		}
	}
}


/* 情说成长 */
.qs_adolesce {
	padding-top: $padding_top;
	& .page_content {
		display: none;
		padding: 15px pxrem(20) 0;
		background-color: #fff;
		overflow: hidden;
		& .adolesce_list:nth-child(odd) {
			margin-right: pxrem(20);
		}
	}
	& .adolesce_list {
		float: left;
		width: pxrem(345);
		padding-bottom: 15px;
		& .adolesce_binner {
			width: 100%;
			height: pxrem(181);
			margin-bottom: 6px;
			border-radius: 4px;
			position: relative;
			background-image: url('../images/bg.jpg');
			background-repeat: no-repeat;
			background-position: center;
			background-size: 100% auto;
		}
		& .play_icon {
			width: 20px;
			height: 20px;
			position: absolute;
			right: 8px;
			bottom: 6px;
			background: url('../images/icon_play_voice@2x.png') no-repeat center;
			background-size: contain;
		}
		& .title {
			width: 100%;
			overflow: hidden;
			text-overflow: ellipsis;
		    display: -webkit-box;
		    -webkit-box-orient: vertical;
		    -webkit-line-clamp: 1;
			font-size: 12px;
			color: $title_color;
		}
		& .data {
			padding: 8px 0;
			font-size: 0px;
			color: #878686;
			& span {
				font-size: 10px;
				padding-left: pxrem(30);
				background-repeat: no-repeat;
				background-position: left center;
				background-size: pxrem(22) auto;
			}
			& span:not(:first-child) {
				margin-left: pxrem(30);
			}
			& span:first-child {
				background-image: url('../images/icon_home_name@2x.png');
			}
			& span:nth-child(2) {
				background-image: url('../images/icon_home_comment@2x.png');
			}
			& span:last-child {
				background-image: url('../images/icon_home_listen@2x.png');
			}
		}
		& .price {
			font-size: 12px;
			color: $theme_font_color;
		}
		& .free {
			font-size: 12px;
			color: #5ECBD3;
		}
	}
}


/* 音频专栏 */
.audio_column {
	& .audio_info {
		padding: 15px;
		font-family: PingFangSC-Medium;
		-webkit-align-items: flex-start;
    	align-items: flex-start;
		& .title {
			font-size: 16px;
			color: $title_color;
			letter-spacing: 0.24px;
			padding-bottom: 6px;
		}
		& .tool {
			font-size: 13px;
			color: $label_color;
			letter-spacing: 0.2px;
		}
		& .weui-cell__ft {
			font-size: 12px;
			color: $label_color;
			letter-spacing: 0.17px;
		}
	}
	& .top_tab {
		z-index: 6;
		width: 100%;
		font-size: 14px;
		line-height: 42px;
		& .line_box {
			bottom: 8px;
			& .line {
				width: 8%;
				height: 100%;
				border-radius: 5px;
				background-color: $theme_font_color;
				position: absolute;
				left: 21%;
			}
		}
	}
	& .top_tab:before {
		content: " ";
	    position: absolute;
	    left: 0;
	    bottom: 0;
	    right: 0;
	    height: 1px;
	    border-top: 1px solid #D7D7D7;
	    color: #D7D7D7;
	    -webkit-transform-origin: 0 0;
	    transform-origin: 0 0;
	    -webkit-transform: scaleY(.5);
	    transform: scaleY(.5);
	    z-index: 2;
	}
	& .audio_box {
		background-color: #fff;
		& .audio_detail {
			padding: 6px 15px 0;
			font-size: 14px;
			color: $label_color;
			letter-spacing: 0.46px;
			line-height: 24px;
			& h3 {
				padding: 10px 0 4px;
			}
			& .audio_li {
				padding: 10px 0 0;
				position: relative;
				&:before {
				    content: " ";
				    position: absolute;
				    left: 0;
				    right: -15px;
				    height: 1px;
				    color: #D7D7D7;
				    z-index: 2;
				    bottom: 0;
				    border-bottom: 1px solid #D7D7D7;
				    -webkit-transform-origin: 0 0;
				    transform-origin: 0 0;
				    -webkit-transform: scaleY(.5);
				    transform: scaleY(.5);
				}
				& .appraise_text {
					padding: 8px 0 10px;
					font-size: 12px;
					color: $label_color;
					letter-spacing: 0.33px;
					line-height: 20px;
				}
			}
			& .weui-cell {
				font-size: 0;
				padding: 0;
				-webkit-align-items: flex-start;
				align-items: flex-start;
				& img {
					width: 30px;
					height: 30px;
					border-radius: 50%;
					margin-right: 6px;
				}
				& p {
					line-height: normal;
				}
				& .name {
					font-size: 14px;
					color: $title_color;
					letter-spacing: 0.4px;
				}
				& .time {
					font-size: 10px;
					color: $label_color;
					letter-spacing: 0.28px;
				}
			}
			& .all_evaluation {
				box-sizing: border-box;
				padding: 12px 0;
				font-size: 14px;
				color: $title_color;
				letter-spacing: 0.05px;
				& .weui-cell__ft:after {
					margin-top: 5px;
				}
			}
			& .all_evaluation:before {
				border: 0;
			}
		}
		& .audio_list:before, & .audio_list:after {
			border: 0;
		}
		& .audio_list {
			& .weui-cell {
				padding: 15px;
				-webkit-align-items: flex-start;
    			align-items: flex-start;
			}
			& .weui-cell__hd {
				width: 70px;
				height: 70px;
				border-radius: 50%;
				overflow: hidden;
				margin-right: 10px;
				position: relative;
				& img {
					width: 100%;
				}
				& .shade {
					width: 100%;
					height: 100%;
					position: absolute;
					top: 0;
					left: 0;
					z-index: 2;
					background-color: rgba(0, 0, 0, .3);
					background-image: url('../images/icon_play@2x.png');
					background-repeat: no-repeat;
					background-position: center;
					background-size: 20px auto;
				}
			}
			& .title {
				font-size: 16px;
				color: $title_color;
				letter-spacing: 0.23px;
				width: 100%;
				overflow: hidden;
				text-overflow: ellipsis;
			    display: -webkit-box;
			    -webkit-box-orient: vertical;
			    -webkit-line-clamp: 1;
			}
			& .play_num {
				padding: 6px 0;
				font-size: 12px;
				color: $label_color;
				letter-spacing: 0.18px;
			}
			& .audio_data {
				font-size: 0;
				color: $label_color;
				letter-spacing: 0.18px;
				& span {
					padding-left: 15px;
					font-size: 12px;
					background-repeat: no-repeat;
					background-position: left center;
				}
				& span:first-child {
					background-image: url('../images/discuss.png');
					background-size: 11px auto;
					padding-right: 8px;
					margin-right: 8px;
					border-right: 1px solid #999999;
				}
				& span:last-child {
					background-image: url('../images/time.png');
					background-size: 11px auto;
				}
			}
			& .weui-cell__ft {
				font-size: 13px;
				color: $label_color;
				letter-spacing: 0.2px;
			}
		}
	}
}


/* swiper */
.label_swiper {
    width: 100%;
    height: 24px;
    padding-top: 15px;
    padding-left: 8px;
    background-color: #fff;
    & .swiper-slide {
	    /* Center slide text vertically */
	    display: -webkit-box;
	    display: -ms-flexbox;
	    display: -webkit-flex;
	    display: flex;
	    -webkit-box-pack: center;
	    -ms-flex-pack: center;
	    -webkit-justify-content: center;
	    justify-content: center;
	    -webkit-box-align: center;
	    -ms-flex-align: center;
	    -webkit-align-items: center;
	    align-items: center;
	    & span {
			height: 24px;
			line-height: 24px;
			font-size: 12px;
			color: $title_color;
			padding: 0 12px;
			border-radius: 50px;
		}
	}
	& .label_active {
		& span {
			color: #fff;
			background-image: linear-gradient(50deg, #FB894B 0%, #F85863 100%);
		}
	}
}
.pic_swiper {
    width: 100%;
    height: pxrem(200);
    & .swiper-slide {
	    /* Center slide text vertically */
	    display: -webkit-box;
	    display: -ms-flexbox;
	    display: -webkit-flex;
	    display: flex;
	    -webkit-box-pack: center;
	    -ms-flex-pack: center;
	    -webkit-justify-content: center;
	    justify-content: center;
	    -webkit-box-align: center;
	    -ms-flex-align: center;
	    -webkit-align-items: center;
	    align-items: center;
	    & img {
			width: 100%;
		}
	}
	& .label_active {
		& span {
			color: #fff;
			background-image: linear-gradient(50deg, #FB894B 0%, #F85863 100%);
		}
	}
}

/* 情说杂志 */
.qs_magazine {
	padding-top: $padding_top+48px;
	& .page_content {
		display: none;
	}
	& .weui-cells:before,
	& .weui-cells:after {
		border: 0;
	}
	& .weui-cell {
		padding: 15px;
	}
	& .title {
		font-size: 14px;
		color: $main_title;
		width: 100%;
		overflow: hidden;
		text-overflow: ellipsis;
	    display: -webkit-box;
	    -webkit-box-orient: vertical;
	    -webkit-line-clamp: 1;
	}
	& .author {
		padding: 6px 0 10px;
		font-size: 12px;
		color: $title_color;
	}
	& .data {
		font-size: 12px;
		color: #919191;
		& label {
			margin-right: 5px;
			padding: 1px 8px;
			border: 1px solid #5ECBD3;
			border-radius: 50px;
			color: #5ECBD3;
		}
	}
	& img {
		padding-left: 15px;
		width: 70px;
		height: 70px;
		border-radius: 4px;
	}
}
#magazine {
	& .weui-popup__modal {
		background-color: #fff;
		overflow-y: hidden; 
	}
	& .popup_top {
		width: 100%;
		height: 44px;
		position: fixed;
		top: 0;
		left: 0;
		z-index: 6;
		background-color: #fff;
		& a {
			width: 24px;
			height: 24px;
			position: absolute;
			top: 10px;
			background-repeat: no-repeat;
			background-position: center;
		}
		& a.close {
			left: 15px;
			background-image: url('../images/icon_top_close@2x.png');
			background-size: contain;
		}
		& a.share {
			right: 15px;
			background-image: url('../images/icon_top_share@2x.png');
			background-size: contain;
		}
	}
	& .popup_content {
		padding: 44px 15px;
		overflow-y: scroll; 
		& .weui-cell {
			padding: 15px 0;
		}
		& .title {
			width: 95%;
			padding-bottom: 8px;
			font-size: 20px;
			color: $main_title;
			letter-spacing: 0.50px;
		}
		& .data {
			height: 20px;
			line-height: 20px;
			font-size: 12px;
			color: #919191;
			& label {
				margin-right: 5px;
				padding: 1px 8px;
				border: 1px solid #5ECBD3;
				border-radius: 50px;
				color: #5ECBD3;
			}
		}
		& .author_info {
			margin: 15px 0;
			background: #F8F8F8;
			border-radius: 4px;
			& .weui-cell {
				padding: 5px 12px;
				-webkit-align-items: flex-start;
    			align-items: flex-start;
			}
			& img {
				width: 45px;
				height: 45px;
				border-radius: 4px;
				margin-right: 12px;
			}
			& .author {
				padding: 2px 0 4px;
				font-size: 14px;
				color: $main_title;
				letter-spacing: 0.46px;
			}
			& .info {
				font-size: 12px;
				color: #878787;
				letter-spacing: 0.2px;
			}
			& .weui-cell__ft {
				font-size: 12px;
				color: $title_color;
			}
		}
		& .author_info:before, 
		& .author_info:after {
			border: 0;
		}
		& .magazine_cont {
			font-size: 14px;
			color: $title_color;
			letter-spacing: 0.34px;
			line-height: 25px;
			& p {
				padding-bottom: 20px;
			}
		}
	}
}

/* 导师详情 */
.tutor_detail {
	& .top_tab {
		z-index: 6;
		width: 100%;
	}
	& .binner {
		width: 100%;
		height: pxrem(240);
	}
	& .tutor_info {
		width: 100%;
		height: 75px;
		background-color: #fff;
		position: relative;
	}
	& .tutor_head {
		width: 85px;
		height: 85px;
		left: 20px;
		top: -30px;
		position: absolute;
		& img {
			width: 100%;
			border: 2px solid #FFFFFF;
			border-radius: 50%;
			box-shadow: 0 3px 10px #D7D7D7;
		}
		& .tutor_audio {
			position: absolute;
			right: 2px;
			bottom: 2px;
			width: 20px;
			height: 20px;
			background-image: url('../images/speech.png');
			background-repeat: no-repeat;
			background-position: center;
			background-size: contain;
		}
	}
	& .tutor_data {
		margin-left: 120px;
		& p:first-child {
			padding: 4px 0;
		}
		& .name {
			display: inline-block;
			font-size: 16px;
			color: $main_title;
			letter-spacing: 0.5px;
		}
		& .sex_woman {
			padding: 0 6px 0 3px;
			display: inline-block;
			vertical-align: middle;
			width: 16px;
			height: 16px;
			background: url('../images/girl.png') no-repeat center;
			background-size: contain;
		}
		& .sex_man {
			padding: 0 6px 0 3px;
			display: inline-block;
			vertical-align: middle;
			width: 16px;
			height: 16px;
			background: url('../images/boy.png') no-repeat center;
			background-size: contain;
		}
		& .on_line {
			display: inline-block;
			vertical-align: middle;
			width: 38px;
			height: 18px;
			background: url('../images/on-line.png') no-repeat center;
			background-size: contain;
		}
		& .off_line {
			display: inline-block;
			vertical-align: middle;
			width: 38px;
			height: 18px;
			background: url('../images/off-line.png') no-repeat center;
			background-size: contain;
		}
		& .location {
			padding-right: 10px;
			border-right: 1px solid #D7D7D7; 
			margin-right: 7px;
			font-size: 12px;
			color: $label_color;
			letter-spacing: 0.2px;
		}
		& .grade {
			font-size: 12px;
			color: $label_color;
			letter-spacing: 0;
		}
	}
	& .tutor_num {
		position: relative;
		height: 45px;
		background-color: #fff;
		&:before {
			content: " ";
		    position: absolute;
		    left: 0;
		    right: 0;
		    height: 1px;
		    color: #D7D7D7;
		    z-index: 2;
		    top: 0;
		    border-top: 1px solid #D7D7D7;
		    -webkit-transform-origin: 0 0;
		    transform-origin: 0 0;
		    -webkit-transform: scaleY(.5);
		    transform: scaleY(.5);
		}
		& .weui-flex__item {
			display: -webkit-flex; /* Safari */
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
		}
		& .weui-flex__item:not(:first-child) {
			position: relative;
			&:before {
				content: " ";
			    position: absolute;
			    top: 0;
			    bottom: 0;
			    width: 1px;
			    color: #D7D7D7;
			    z-index: 2;
			    left: 0;
			    border-left: 1px solid #D7D7D7;
			    -webkit-transform-origin: 0 0;
			    transform-origin: 0 0;
			    -webkit-transform: scaleX(.5);
			    transform: scaleX(.5);
			}
		}
		& .num {
			font-size: 12px;
			color: $title_color;
			letter-spacing: 0.2px;
		}
		& .tool {
			font-size: 10px;
			color: $label_color;
			letter-spacing: 0.18px;
		}
	}
	& .tutor_pic {
		padding: 8px 15px 12px;
		background-color: #fff;
		margin-bottom: 9px;
		& .title {
			padding-left: 10px;
			margin-bottom: 8px;
			background: url('../images/detail-classify.png') no-repeat left center;
			background-size: 3px 15px;
			font-size: 12px;
			color: $title_color;
		}
	}
	& .tutor_box {
		background-color: #fff;
		& .page_content {
			display: none;
		}
		& .tutor_label {
			overflow: hidden;
			padding: 15px 15px 6px;
			& span {
				float: left;
				padding: 2px 8px;
				margin: 0 9px 9px 0;
				background: rgba(240, 240, 240, .5);
				border-radius: 50px;
				font-size: 11px;
				color: #BDBDBD;
				letter-spacing: 0.2px;
			}
		}
		& .introduce_card {
			font-size: 14px;
			letter-spacing: 0.05px;
			line-height: 26px;
			& .title {
				padding: 0 15px;
				color: $main_title;
				& span {
					margin-left: 8px;
				}
			}
			& .card_cont {
				padding: 4px 15px 10px;
				color: $title_color;
			}
			& .user_evaluation {
				padding: 10px 15px;
			}
		}
		& .evaluation_link {
			overflow: hidden;
			& a {
				float: left;
				padding: 3px 13px 4px;
				margin: 0 10px 12px 0;
				border: 1px solid #BDBDBD;
				border-radius: 50px;
				font-size: 12px;
				color: #BDBDBD;
				line-height: normal;
			}
			& a.evaluation_active {
				color: $theme_font_color;
				border-color: $theme_font_color;
			}
		}
		& .evaluation_ul:before,
		& .evaluation_ul:after {
			border: 0;
		}
		& .evaluation_li:before {
		    content: " ";
		    position: absolute;
		    left: 15px;
		    right: 0;
		    height: 1px;
		    color: #D7D7D7;
		    z-index: 2;
		    bottom: 0;
		    border-bottom: 1px solid #D7D7D7;
		    -webkit-transform-origin: 0 0;
		    transform-origin: 0 0;
		    -webkit-transform: scaleY(.5);
		    transform: scaleY(.5);
		}
		& .evaluation_li:first-child {
			padding-top: 5px;
		}
		& .evaluation_li {
			padding: 15px;
			position: relative;
			& .weui-cell {
				font-size: 0;
				padding: 0;
				-webkit-align-items: flex-start;
    			align-items: flex-start;
				& img {
					width: 30px;
					height: 30px;
					border-radius: 50%;
					margin-right: 6px;
				}
				& .name {
					font-size: 14px;
					color: $title_color;
					letter-spacing: 0.4px;
				}
				& .star_box {
					font-size: 0;
					margin-left: 3px;
				}
				& .on_star {
					display: inline-block;
					margin-left: 4px;
					width: 12px;
					height: 12px;
					background: url('../images/icon_grade_pre@2x.png') no-repeat center;
					background-size: contain;
				}
				& .off_star {
					display: inline-block;
					margin-left: 4px;
					width: 12px;
					height: 12px;
					background: url('../images/icon_grade_nor@2x.png') no-repeat center;
					background-size: contain;
				}
				& .evaluation_time {
					font-size: 10px;
					color: $label_color;
					letter-spacing: 0.28px;
				}
				& .weui-cell__ft {
					font-size: 12px;
					color: $label_color;
					letter-spacing: 0.33px;
				}
			}
			& .evaluation_text {
				padding: 8px 0 10px;
				font-size: 12px;
				color: $label_color;
				letter-spacing: 0.33px;
				line-height: 20px;
			}
			& .tutor_reply {
				background: #F3F8F7;
				padding: 7px 6px;
				& .label {
					float: left;
					font-size: 12px;
					color: $theme_font_color;
				}
				& .content {
					margin-left: 64px;
					font-size: 12px;
					color: $title_color;
				}
			}
		}
		& .all_evaluation {
			font-size: 14px;
			color: $title_color;
			letter-spacing: 0.05px;
		}
		& .all_evaluation:before {
			border: 0;
		}
	}
	& .course {
		padding: 15px pxrem(20) 0;
		overflow: hidden;
		& .adolesce_list:nth-child(odd) {
			margin-right: pxrem(20);
		}
	}
	& .adolesce_list {
		float: left;
		width: pxrem(345);
		padding-bottom: 15px;
		& .adolesce_binner {
			width: 100%;
			height: pxrem(181);
			margin-bottom: 6px;
			border-radius: 4px;
			position: relative;
			background-image: url('../images/bg.jpg');
			background-repeat: no-repeat;
			background-position: center;
			background-size: 100% auto;
		}
		& .play_icon {
			width: 20px;
			height: 20px;
			position: absolute;
			right: 8px;
			bottom: 6px;
			background: url('../images/icon_play_voice@2x.png') no-repeat center;
			background-size: contain;
		}
		& .title {
			width: 100%;
			overflow: hidden;
			text-overflow: ellipsis;
		    display: -webkit-box;
		    -webkit-box-orient: vertical;
		    -webkit-line-clamp: 1;
			font-size: 12px;
			color: $title_color;
		}
		& .data {
			padding: 8px 0;
			font-size: 0px;
			color: #878686;
			& span {
				font-size: 10px;
				padding-left: pxrem(30);
				background-repeat: no-repeat;
				background-position: left center;
				background-size: pxrem(22) auto;
			}
			& span:not(:first-child) {
				margin-left: pxrem(30);
			}
			& span:first-child {
				background-image: url('../images/icon_home_name@2x.png');
			}
			& span:nth-child(2) {
				background-image: url('../images/icon_home_comment@2x.png');
			}
			& span:last-child {
				background-image: url('../images/icon_home_listen@2x.png');
			}
		}
		& .price {
			font-size: 12px;
			color: $theme_font_color;
		}
		& .free {
			font-size: 12px;
			color: #5ECBD3;
		}
	}
	& .magazine {
		& .weui-cells:before,
		& .weui-cells:after {
			border: 0;
		}
		& .weui-cell {
			padding: 15px;
		}
		& .title {
			font-size: 14px;
			color: $main_title;
			width: 100%;
			overflow: hidden;
			text-overflow: ellipsis;
		    display: -webkit-box;
		    -webkit-box-orient: vertical;
		    -webkit-line-clamp: 1;
		}
		& .author {
			padding: 6px 0 10px;
			font-size: 12px;
			color: $title_color;
		}
		& .data {
			font-size: 12px;
			color: #919191;
			& label {
				margin-right: 5px;
				padding: 1px 8px;
				border: 1px solid #5ECBD3;
				border-radius: 50px;
				color: #5ECBD3;
			}
		}
		& img {
			padding-left: 15px;
			width: 70px;
			height: 70px;
			border-radius: 4px;
		}
	}
}
.weui-photo-browser-modal {
	z-index: 6666;
}
.photo-container {
	justify-content: center;
	/* & img {
		max-height: 100%;
		width: 100%;
	} */
}

// 全部评价
.all_appraise {
	background-color: #fff;
	& .user_evaluation {
		padding: 10px 15px;
	}
	& .evaluation_link {
		overflow: hidden;
		& a {
			float: left;
			padding: 3px 13px 4px;
			margin: 0 10px 12px 0;
			border: 1px solid #BDBDBD;
			border-radius: 50px;
			font-size: 12px;
			color: #BDBDBD;
			line-height: normal;
		}
		& a.evaluation_active {
			color: $theme_font_color;
			border-color: $theme_font_color;
		}
	}
	& .evaluation_ul:before,
	& .evaluation_ul:after {
		border: 0;
	}
	& .evaluation_li:before {
	    content: " ";
	    position: absolute;
	    left: 15px;
	    right: 0;
	    height: 1px;
	    color: #D7D7D7;
	    z-index: 2;
	    bottom: 0;
	    border-bottom: 1px solid #D7D7D7;
	    -webkit-transform-origin: 0 0;
	    transform-origin: 0 0;
	    -webkit-transform: scaleY(.5);
	    transform: scaleY(.5);
	}
	& .evaluation_li:first-child {
		padding-top: 5px;
	}
	& .evaluation_li {
		padding: 15px;
		position: relative;
		& .weui-cell {
			font-size: 0;
			padding: 0;
			-webkit-align-items: flex-start;
			align-items: flex-start;
			& img {
				width: 30px;
				height: 30px;
				border-radius: 50%;
				margin-right: 6px;
			}
			& .name {
				font-size: 14px;
				color: $title_color;
				letter-spacing: 0.4px;
			}
			& .star_box {
				font-size: 0;
				margin-left: 3px;
			}
			& .on_star {
				display: inline-block;
				margin-left: 4px;
				width: 12px;
				height: 12px;
				background: url('../images/icon_grade_pre@2x.png') no-repeat center;
				background-size: contain;
			}
			& .off_star {
				display: inline-block;
				margin-left: 4px;
				width: 12px;
				height: 12px;
				background: url('../images/icon_grade_nor@2x.png') no-repeat center;
				background-size: contain;
			}
			& .evaluation_time {
				font-size: 10px;
				color: $label_color;
				letter-spacing: 0.28px;
			}
			& .weui-cell__ft {
				font-size: 12px;
				color: $label_color;
				letter-spacing: 0.33px;
			}
		}
		& .evaluation_text {
			padding: 8px 0 10px;
			font-size: 12px;
			color: $label_color;
			letter-spacing: 0.33px;
			line-height: 20px;
		}
		& .tutor_reply {
			background: #F3F8F7;
			padding: 7px 6px;
			& .label {
				float: left;
				font-size: 12px;
				color: $theme_font_color;
			}
			& .content {
				margin-left: 64px;
				font-size: 12px;
				color: $title_color;
			}
		}
	}
	& .audio_li {
		padding: 10px 15px 0;
		position: relative;
		&:before {
		    content: " ";
		    position: absolute;
		    left: 0;
		    right: -15px;
		    height: 1px;
		    color: #D7D7D7;
		    z-index: 2;
		    bottom: 0;
		    border-bottom: 1px solid #D7D7D7;
		    -webkit-transform-origin: 0 0;
		    transform-origin: 0 0;
		    -webkit-transform: scaleY(.5);
		    transform: scaleY(.5);
		}
		& .weui-cell {
			font-size: 0;
			padding: 0;
			-webkit-align-items: flex-start;
			align-items: flex-start;
			& img {
				width: 30px;
				height: 30px;
				border-radius: 50%;
				margin-right: 6px;
			}
			& p {
				line-height: normal;
			}
			& .name {
				font-size: 14px;
				color: $title_color;
				letter-spacing: 0.4px;
			}
			& .time {
				font-size: 10px;
				color: $label_color;
				letter-spacing: 0.28px;
			}
		}
		& .appraise_text {
			padding: 8px 0 10px;
			font-size: 12px;
			color: $label_color;
			letter-spacing: 0.33px;
			line-height: 20px;
		}
	}	
}
.evaluation_review {
	padding: 10px 0;
	position: relative;
	font-family: PingFangSC-Regular;
	font-size: 12px;
	letter-spacing: 0.33px;
	&:before {
	    content: " ";
	    position: absolute;
	    left: 0;
	    right: 0;
	    height: 1px;
	    color: #D7D7D7;
	    z-index: 2;
	    top: 0;
	    border-top: 1px solid #D7D7D7;
	    -webkit-transform-origin: 0 0;
	    transform-origin: 0 0;
	    -webkit-transform: scaleY(.5);
	    transform: scaleY(.5);
	}
	& .review_title {
		color: #FC6076;
	}
	& .review_cont {
		padding-top: 6px;
		color: #919191;
	}
}


// 个人详情
.personal-data {
    padding-left: 15px;
    &>div {
		width: 100%;
	    height: 50px;
	    line-height: 50px;
	    font-family: PingFangSC-Regular;
	    position: relative;
	    &>div:first-child {
		    float: left;
		    width: 75px;
		    font-size: 14px;
		    color: #696969;
		}
		&>div:last-child {
		    float: left;
		    font-size: 15px;
		    color: #999999;
		}
    }
    &>div:not(:last-child):before {
	    content: " ";
	    position: absolute;
	    left: 0;
	    right: 0;
	    height: 1px;
	    color: #D2D2D2;
	    z-index: 2;
	    bottom: 0;
	    border-bottom: 1px solid #D2D2D2;
	    -webkit-transform-origin: 0 0;
	    transform-origin: 0 0;
	    -webkit-transform: scaleY(.5);
	    transform: scaleY(.5);
	}
}

// 动态
.dynamic {
	font-family: PingFangSC-Medium;
	line-height: normal;
	background-color: #f0f0f0;
	&>div {
		background-color: #fff;
	}
	&>div:not(:last-child) {
		margin-bottom: 9px;
	}
	& .header {
		padding: 18px 15px 10px;
		overflow: hidden;
		& .left {
			float: left;
			width: 35px;
			height: 35px;
			border-radius: 50%;
			overflow: hidden;
			& img {
				width: 100%;
			}
		}
		& .right {
			margin-left: 45px;
			& .author {
				overflow: hidden;
				padding-bottom: 1px;
			}
			& .name {
				float: left;
				font-size: 15px;
				color: #303030;
			}
			& .sex {
				float: left;
				width: 14px;
				height: 14px;
				margin-left: 4px;
				margin-top: 3px;
				background-position: center bottom;
				background-repeat: no-repeat;
				background-size: contain;
				&.woman {
					background-image: url('../images/girl.png');
				}
				&.man {
					background-image: url('../images/boy.png');
				}
			}
			& .time {
				font-size: 12px;
				color: #919191;
			}
		}
	}
	& .content {
		& .title {
			padding: 0 15px;
			font-size: 18px;
			color: #303030;
		}
		& .text {
			padding: 5px 15px 0;
			font-size: 14px;
			color: #696969;
			overflow: hidden;
		    text-overflow: ellipsis;
		    display: -webkit-box;
		    -webkit-line-clamp: 3;
		    -webkit-box-orient: vertical;
		}
		& .check_detail {
			display: inline-block;
			padding: 6px 15px 10px;
			font-size: 14px;
			color: #5192C9;
		}
	}
	& .footer {
		overflow: hidden;
		padding: 0 13px 12px 15px;
		& .num {
			float: left;
			font-size: 12px;
			color: #919191;
			& span {
				margin-right: 8px;
			}
		}
		& .icon {
			float: right;
			& a {
				display: inline-block;
				margin-left: 13px;
				width: 20px;
				height: 20px;
				background-position: center;
				background-repeat: no-repeat;
				background-size: contain;
			}
			& .praise {
				background-image: url('../images/icon_spot@2x.png');
				&.is_ok {
					background-image: url('../images/icon_spot_pre@2x.png');
				}
			}
			& .discuss {
				background-image: url('../images/icon_evaluate@2x.png');
			}
		}
	}
	& .discuss_box {
		padding: 0 15px;
		& .discuss_list {
			padding: 12px 0;
			position: relative;
			&:before {
				content: " ";
			    position: absolute;
			    left: 0;
			    right: 0;
			    height: 1px;
			    color: #EAEAEA;
			    z-index: 2;
			    top: 0;
			    border-top: 1px solid #EAEAEA;
			    -webkit-transform-origin: 0 0;
			    transform-origin: 0 0;
			    -webkit-transform: scaleY(.5);
			    transform: scaleY(.5);
			}
			&>div {
				overflow: hidden;
				padding-bottom: 10px;
			}
			&>.audio_discuss {
				line-height: 30px;
				padding-bottom: 13px;
			}
			& label {
				float: left;
				margin-right: 3px;
				font-size: 12px;
				color: #303030;
			}
			& .text {
				font-size: 12px;
				color: #696969;
				// width: 84%;
				display: block;
				overflow: hidden;
				white-space: nowrap;
				text-overflow: ellipsis;
			}
			& .audio_bar {
				float: left;
			}
			& .all_discuss {
				display: inline-block;
				font-size: 12px;
				color: #5192C9;
			}
			& .is_expert {
				display: inline-block;
				vertical-align: middle;
				margin-left: 2px;
				width: 12px;
				height: 12px;
				background: url('../images/icon_v@2x.png') no-repeat center;
				background-size: contain;
			}
		}	
	}
	// 图片列表
	& .pic_list {
		padding: 0 12px 8px 15px;
		overflow: hidden;
	    & div {
	    	width: 32%;
		    margin-right: 3px;
		    margin-bottom: 3px;
	    	float: left;
	    	overflow: hidden;
		    background-position: center;
		    background-repeat: no-repeat;
		    background-size: cover;
	    }
	}
	// 音频
	& .audio_box {
		padding: 0 15px 15px;
	}
	& .audio_bar {
		width: 180px;
		height: 30px;
		background: #6CC5FA;
		border-radius: 8px;
		box-shadow: 0 12px 15px -10px #6CC5FA;
		&.opacity_bar {
			animation: opacityBar 1.2s linear infinite;
			-webkit-animation: opacityBar 1.2s linear infinite; /* Safari 和 Chrome */
		}
		& i {
			width: 15px;
			height: 15px;
			float: left;
			background-position: center;
			background-repeat: no-repeat;
			background-size: contain;
			margin-top: 8px;
		}
		& .icon_audio {
			margin-left: 8px;
			background-image: url('../images/icon_listen_voice@2x.png');
			&.load_audio {
				animation: loadAudio 0.5s linear infinite;
				-webkit-animation: loadAudio 0.5s linear infinite; /* Safari 和 Chrome */
				background-image: url('../images/icon_voice_loading@2x.png');
			}
		}
		& .icon_audio_2 {
			margin-left: 5px;
			background-image: url('../images/icon_listen_voice_2@2x.png');
		}
		& .time {
			float: right;
			margin-right: 8px;
			line-height: 30px;
			font-size: 12px;
			color: #FFFFFF;
		}
	}
}

// loading
.loading_box {
	min-height: 30px;
    padding: 10px 0;
    text-align: center;
	font-size: 12px;
    color: gray;
	& .icon {
		display: inline-block;
	    width: 16px;
	    height: 16px;
	    border-radius: 50%;
	    border: 1px solid gray;
	    margin-right: 8px;
	    border-bottom-color: transparent;
	    vertical-align: middle;
	    -webkit-animation: loadAudio 0.6s linear infinite;
    	animation: loadAudio 0.6s linear infinite;
	}
	& .text {
		display: inline-block;
		vertical-align: middle;
	}
}

@keyframes opacityBar {
    0% {
    	opacity: 0.6;
    }
    50% {
    	opacity: 1;
    }
    100% {
    	opacity: 0.6;
    }
}
@-webkit-keyframes opacityBar {
    0% {
    	opacity: 0.6;
    }
    50% {
    	opacity: 1;
    }
    100% {
    	opacity: 0.6;
    }
}
@keyframes loadAudio {
    0% {
    	transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        /* IE 9 */
        -moz-transform: rotate(0deg);
        /* Firefox */
        -webkit-transform: rotate(0deg);
        /* Safari 和 Chrome */
        -o-transform: rotate(0deg);
    }
    100% {
    	transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        /* IE 9 */
        -moz-transform: rotate(360deg);
        /* Firefox */
        -webkit-transform: rotate(360deg);
        /* Safari 和 Chrome */
        -o-transform: rotate(360deg);
    }
}
@-webkit-keyframes loadAudio {
    0% {
    	transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        /* IE 9 */
        -moz-transform: rotate(0deg);
        /* Firefox */
        -webkit-transform: rotate(0deg);
        /* Safari 和 Chrome */
        -o-transform: rotate(0deg);
    }
    100% {
    	transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        /* IE 9 */
        -moz-transform: rotate(360deg);
        /* Firefox */
        -webkit-transform: rotate(360deg);
        /* Safari 和 Chrome */
        -o-transform: rotate(360deg);
    }
}