@charset "UTF-8";
html, body {
  background-color: #F0F0F0;
  font-family: PingFangSC-Medium;
}

.margin_num {
  height: 9px;
}

.weui-cells, .weui-panel {
  margin: 0;
}

.top_fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 66;
}

.top_box {
  text-align: center;
  color: #fff;
  background-image: linear-gradient(-179deg, #2E2E30 0%, #59595D 100%);
  height: 44px;
  line-height: 44px;
  font-size: 18px;
}
.top_box a {
  position: absolute;
  left: 15px;
  top: 10px;
  width: 24px;
  height: 24px;
  background: url("../images/back.png") no-repeat center;
  background-size: contain;
}

.container {
  padding-top: 44px;
}

/* 课程详情 */
.course_detail .binner {
  width: 100%;
  height: 188px;
  overflow: hidden;
}
.course_detail .binner img {
  width: 100%;
}
.course_detail .info {
  font-family: PingFangSC-Regular;
  font-size: 16px;
  color: #303030;
  letter-spacing: 0.45px;
  background-color: #fff;
}
.course_detail .info .weui-cells:before, .course_detail .info .weui-cells:after {
  border: 0;
}
.course_detail .info .weui-flex__item {
  padding: 13px 15px 0;
}
.course_detail .info .weui-cell {
  padding: 15px;
  line-height: 25px;
}
.course_detail .info .weui-cell img {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  margin-right: 7px;
}
.course_detail .info .weui-cell .name {
  font-size: 13px;
  color: #303030;
}
.course_detail .info .weui-cell .weui-cell__ft {
  font-size: 12px;
  color: #999999;
  letter-spacing: 0.38px;
}
.course_detail .info .weui-cell .weui-cell__ft .periods {
  padding-right: 10px;
  border-right: 1px solid #999999;
}
.course_detail .info .weui-cell .weui-cell__ft .human_qi {
  padding-left: 8px;
}
.course_detail .course_introduce {
  padding: 15px;
  background-color: #fff;
}
.course_detail .column_link {
  font-family: PingFangSC-Medium;
}
.course_detail .column_link img {
  width: 2px;
  height: 15px;
  margin-right: 7px;
}
.course_detail .column_link .column_name {
  font-size: 14px;
  color: #696969;
}
.course_detail .lecturer_list .weui-panel__hd {
  padding: 12px 15px 12px 24px;
  font-size: 14px;
  color: #696969;
  background: url("../images/detail-classify.png") no-repeat 15px center;
  background-size: 2px 15px;
}
.course_detail .lecturer_list .weui-media-box_appmsg {
  -webkit-align-items: flex-start;
  align-items: flex-start;
}
.course_detail .lecturer_list .weui-media-box__hd {
  width: 45px;
  height: 45px;
  margin-right: 9px;
  border-radius: 50%;
  overflow: hidden;
}
.course_detail .lecturer_list .weui-media-box__title {
  padding-bottom: 4px;
  font-size: 15px;
  color: #303030;
}
.course_detail .lecturer_list .weui-media-box__title .label {
  padding-left: 5px;
  font-size: 12px;
  color: #FD7A60;
}
.course_detail .lecturer_list .weui-media-box__desc {
  font-size: 12px;
  color: #999999;
  line-height: 18px;
}
.course_detail .lecturer_info .weui-cell {
  padding: 15px;
  line-height: 25px;
}
.course_detail .lecturer_info .weui-cell img {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  margin-right: 7px;
}
.course_detail .lecturer_info .weui-cell .name {
  font-size: 13px;
  color: #303030;
}
.course_detail .lecturer_info .weui-cell a.follow_btn {
  display: block;
  line-height: 23px;
  font-size: 12px;
  color: #FD7A60;
  letter-spacing: 0.36px;
  border: 1px solid #FD7A60;
  border-radius: 4px;
  padding: 0 12px;
}
.course_detail .lecturer_info .weui-cell a.is_follow {
  color: #999999;
  border-color: #999999;
}
.course_detail .lecturer_data {
  padding: 10px 15px;
  text-align: center;
  background-color: #fff;
  font-family: PingFangSC-Regular;
  position: relative;
}
.course_detail .lecturer_data .label {
  font-size: 12px;
  color: #999999;
}
.course_detail .lecturer_data .data {
  font-size: 17px;
  color: #666666;
  letter-spacing: 0.66px;
  overflow: hidden;
}
.course_detail .lecturer_data img {
  display: block;
  margin: 5px auto;
  width: 22px;
}

/*# sourceMappingURL=qs_weike.css.map */
