.chat_top {
	height: 50px;
	line-height: 50px;
	background-color: #f0f0f0;
}
.chat_btn {
	color: #fff;
	background-color: #FF9900;
	padding: 3px 25px;
}
.chat_btn:hover, 
.chat_btn:active, 
.chat_btn:visited, 
.chat_btn:link {
	text-decoration: none;
	color: #fff;
}
.user_info {
	overflow: hidden;
}
.user_card img {
	padding-top: 2px;
	float: left;
	width: 46px;
	height: 46px;
}
.user_data {
	margin-left: 55px;
}
.user_data p {
	margin: 0;
	line-height: 22px;
}
.user_data p.name {
	padding-top: 3px;
	font-size: 16px;
	color: #000;
}
.user_data p.id {
	font-size: 12px;
	color: #666;
}
.choose_user .user_card {
	margin-left: 15px;
	display: inline-block;
	vertical-align: middle;
}
.chat_top .choose_time {
	text-align: right;
}
.chat_top .choose_time .chat_btn {
	margin-left: 5px;
	background-color: #3399FF;
}


.chat_content {
	margin-top: 10px;
	padding: 0;
}
.chat_content ul {
	padding: 0;
	margin: 0;
	background-color: #f0f0f0;
	border: 1px solid #ddd;
}
.chat_content ul>p {
	margin: 0;
	height: 36px;
	line-height: 36px;
	text-align: center;
	background-color: #6FAED9;
	color: #fff;
}
.chat_content ul li {
	padding: 5px 10px;
	cursor: pointer;
}
.chat_content ul li.active_user {
	background-color: #fff;
}
.chat_content .main_content {
	padding: 0;
}
.search_keyword {
	text-align: right;
	height: 36px;
	line-height: 36px;
	border: 1px solid #ddd;
}
.chat_content .chat_btn {
	background-color: #f0f0f0;
	color: #000;
	border: 1px solid #ccc;
}
.chat_list {
	padding-top: 10px;
	padding-bottom: 10px;
}
.chat_list .chat_card {
	padding-bottom: 5px;
}
.chat_list  p {
	margin: 0;
}
.chat_list .user_info {
	color: #0A6CFF;
}
.chat_list .myself_info {
	color: #4AA44A;
}


.user_model {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 6666;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, .6);
}
.model_box {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -400px;
	margin-top: -200px;
	width: 800px;
	height: 400px;
	background-color: #fff;
	border-radius: 8px;
	overflow: hidden;
}
.model_box .title {
	height: 36px;
	line-height: 36px;
	text-align: center;
	background-color: #6FAED9;
	font-size: 18px;
	color: #fff;
}
.model_box .title a {
	position: absolute;
	right: 15px;
	font-size: 32px;
	color: #fff;
}
.model_box .title a:hover {
	text-decoration: none;
}
.model_box .search {
	padding: 5px;
}
.model_box .search input {
	margin-right: 5px;
}
.model_box .search .chat_btn {
	background-color: #6FAED9;
}
.choose_list {
	height: 316px;
	overflow: auto;
	margin: 0;
	padding: 0 5px;
}
.choose_list table {
	margin: 5px 0;
}
.choose_list table img {
	width: 50px;
	height: 50px;
}
.choose_list table .center {
	text-align: center;
	line-height: 50px;
}